{% extends "elections/layout.html" %}
{% block title %}
    {{ area }}_list
{% endblock %}

{% block content %}
    {% if polls %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        <h3>{{area}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>시작기간</b>
                    </td>
                    <td>
                        <b>종료기간</b>
                    </td>
                    <td>
                        <b>투표로이동</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for poll in polls %}
                    <tr>
                        <td>
                            {{poll.start_date}}</td>
                        <td>
                            {{poll.end_date}}
                        </td>
                        <td>
                            <form action="{% url 'elections:show_poll' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="area" value="{{area}}">
                                <button name="poll_id" value="{{poll.id}}">{{poll.id}}선택</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        1여론조사가 없습니다.
    {% endif %}

    {% if msg %}
        <div class="alert alert-primary" role="alert">
            {{msg}}
        </div>
    {% endif %}

{% endblock %}